.jobs {
    background: #F8F3F1;
    padding: 160px 0;
    position: relative;

    @media screen and (max-width:560px) {
        padding: 60px 0;
    }
}

.jobs__content {
    position: relative;
}

.vector__1 {
    position: absolute;
    left: 0;
    top: 0;

    @media screen and (max-width:660px) {
        left: -150px;
    }

    @media screen and (max-width:350px) {
        left: -180px;
    }
}

.vector__2 {
    position: absolute;
    right: 0;
    top: 17px;

    @media screen and (max-width:660px) {
        top: 1000px;
    }
}

.jobs__title {
    color: #3C3B3D;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 55.88px;
    margin-bottom: 29px;
    z-index: 99999999999999;

    @media screen and (max-width:660px) {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 14px;
    }

    @media screen and (max-width:560px) {
        font-size: 23px;
        line-height: 30px;
    }
}

.jobs__text {
    color: #3C3B3D;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.08px;
    margin-bottom: 44px;

    @media screen and (max-width:660px) {
        font-size: 18px;
        line-height: 26px;
    }

    @media screen and (max-width:560px) {
        font-size: 16px;
        line-height: 25px;
    }
}

.jobs__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 66px;
    z-index: 99999999999999999;

    @media screen and (max-width:1150px) {
        gap: 50px;
    }
}

.jobs__card {
    width: 334px;
    z-index: 999;

    @media screen and (max-width:350px) {
        width: 300px;
    }
}

.jobs__card img {
    @media screen and (max-width:350px) {
        width: 300px;
    }
}

.jobs__card__title {
    margin-top: 53px;
    margin-bottom: 17px;
    color: #3C3B3D;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

    @media screen and (max-width:400px) {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.jobs__cars__text {
    color: #3C3B3D;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.88px;
    width: 260px;
    margin: 0 auto;
}

.employee {
    display: flex;
    align-items: center;
    margin-top: 170px;

    @media screen and (max-width:1000px) {
        flex-direction: column;
    }
}

.employee__left {
    background-image: url(../img/hero-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 922px;
    width: 50%;

    @media screen and (max-width:1000px) {
        width: 100%;
        height: 822px;
    }

    @media screen and (max-width:500px) {
        height: 500px;
    }
}

.employee__right {
    width: 50%;
    height: 922px;
    background: #124E3B;
    padding: 120px;
    position: relative;
    padding-top: 200px;

    @media screen and (max-width:1345px) {
        padding: 100px 50px 50px;
    }

    @media screen and (max-width:1000px) {
        width: 100%;
        height: 700px;
    }

    @media screen and (max-width:500px) {
        height: 500px;
        padding-top: 50px;
    }

    @media screen and (max-width:400px) {
        padding: 30px;
    }
}

.vector__4 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.employee__text {
    color: #FFF;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    margin: 38px 0 16px 0;
    width: 550px;

    @media screen and (max-width:1210px) {
        width: 450px;
    }

    @media screen and (max-width:1000px) {
        width: 100%;
    }

    @media screen and (max-width:500px) {
        font-size: 25px;
        line-height: 40px;
    }

    @media screen and (max-width:400px) {
        font-size: 20px;
        line-height: 30px;
        margin: 15px 0 5px;
    }
}

.employee__name {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 38px;

    @media screen and (max-width:500px) {
        font-size: 16px;
        margin-bottom: 15px;
    }

    @media screen and (max-width:400px) {
        font-size: 14px;
    }
}

.employee__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 170px;
    background: 0;
    border-radius: 4px;
    background: #F2CDCE;
   border: 0;
}