* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 100%;
  width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.tohome {
  width: 60px;
  height: 60px;
  background-color: #124E3B;
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #124E3B;
  z-index: 1000000000000000000000000;
}
@media screen and (max-width: 500px) {
  .tohome {
    width: 45px;
    height: 45px;
    bottom: 90px;
    right: 20px;
  }
}

.totop {
  color: #fff;
  font-size: 28px;
}
@media screen and (max-width: 500px) {
  .totop {
    font-size: 19px;
  }
}

.tocall {
  width: 60px;
  height: 60px;
  background-color: #124E3B;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #124E3B;
  z-index: 1000000000000000000000000000;
}
@media screen and (max-width: 500px) {
  .tocall {
    width: 45px;
    height: 45px;
    bottom: 30px;
    right: 20px;
  }
}

.phone__icon {
  color: #fff;
  font-size: 25px;
}
@media screen and (max-width: 500px) {
  .phone__icon {
    font-size: 19px;
  }
}

.navbar {
  height: 72px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000000000000000000000000000000000000000000000000000000;
  }
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .navbar__content {
    gap: 10px;
  }
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 62px;
}
@media screen and (max-width: 908px) {
  .navbar__left {
    gap: 10px;
  }
}
@media screen and (max-width: 750px) {
  .navbar__left {
    width: 75%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 750px) {
  .navbar__left {
    width: 100%;
  }
}

.navbar__left__left {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media screen and (max-width: 908px) {
  .navbar__menu {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    gap: 10px;
  }
}
@media screen and (max-width: 750px) {
  .navbar__menu {
    position: fixed;
    top: 72px;
    background-color: #fff;
    left: -100%;
    width: 40%;
    box-shadow: 0 0 10px #0A6647;
    height: calc(100vh - 472px);
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: 0px 5px 20px 0;
    gap: 30px;
    transition: 0.3s;
    z-index: 999999999999999;
  }
}

#check {
  display: none;
}

.toogle {
  font-size: 30px;
  display: none;
}
@media screen and (max-width: 750px) {
  .toogle {
    display: block;
  }
}
@media screen and (max-width: 338px) {
  .toogle {
    font-size: 24px;
  }
}

#check:checked ~ .navbar__menu {
  left: 0;
}

.navbar__menu li {
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  width: 100px;
}
@media screen and (max-width: 750px) {
  .navbar__menu li {
    border-bottom: 2px solid #0A6647;
  }
}
@media screen and (max-width: 768px) {
  .navbar__menu li {
    width: 96px;
  }
}

.navbar__menu li:hover {
  color: #0A6647;
  font-weight: 600;
}

.navbar__options:hover {
  color: #0A6647;
  font-weight: 600;
}

.navbar__options {
  border: 0;
  outline: 0;
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .navbar__right {
    gap: 10px;
  }
}
@media screen and (max-width: 750px) {
  .navbar__right {
    display: none;
  }
}

.navbar__right__2 {
  align-items: center;
  gap: 24px;
  display: none;
}
@media screen and (max-width: 750px) {
  .navbar__right__2 {
    display: flex;
  }
}
@media screen and (max-width: 338px) {
  .navbar__right__2 {
    gap: 10px;
  }
}

.navbar__btn__login {
  border: 0;
  background: none;
  color: #0A6647;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  cursor: pointer;
}

.navbar__btn__join {
  border-radius: 4px;
  border: 2px solid #0A6647;
  background: #0A6647;
  padding: 10px 17px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (max-width: 480px) {
  .navbar__btn__join {
    padding: 5px 10px;
  }
}

.navbar__btn__join:hover {
  opacity: 0.8;
}

.navbar__btn__join:active {
  transform: scale(0.95);
}

.header {
  background-image: url(../img/hero-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}

.header__content {
  position: relative;
}

.header__box {
  width: 470px;
  height: 406px;
  background: #fff;
  padding: 40px 48px 63px 48px;
}
@media screen and (max-width: 510px) {
  .header__box {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 475px) {
  .header__box {
    padding: 30px;
  }
}

.header__title {
  color: #124E3B;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 22px;
  width: 360px;
}
@media screen and (max-width: 475px) {
  .header__title {
    width: 100%;
    font-size: 30px;
  }
}

.header__text {
  margin-bottom: 70px;
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 348px;
}
@media screen and (max-width: 475px) {
  .header__text {
    width: 100%;
    margin-bottom: 30px;
  }
}

.header__btn {
  width: 100%;
  border: 0;
  border-radius: 4px;
  background: #F2CDCE;
  color: #0A0A0A;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon {
  font-size: 18px;
  margin-left: 10px;
  color: #0A0A0A;
  font-weight: 900;
}

.header__names {
  position: absolute;
  bottom: -148px;
  right: 158px;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
@media screen and (max-width: 475px) {
  .header__names {
    right: 100px;
    bottom: -180px;
  }
}

.jobs {
  background: #F8F3F1;
  padding: 160px 0;
  position: relative;
}
@media screen and (max-width: 560px) {
  .jobs {
    padding: 60px 0;
  }
}

.jobs__content {
  position: relative;
}

.vector__1 {
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 660px) {
  .vector__1 {
    left: -150px;
  }
}
@media screen and (max-width: 350px) {
  .vector__1 {
    left: -180px;
  }
}

.vector__2 {
  position: absolute;
  right: 0;
  top: 17px;
}
@media screen and (max-width: 660px) {
  .vector__2 {
    top: 1000px;
  }
}

.jobs__title {
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.88px;
  margin-bottom: 29px;
  z-index: 99999999999999;
}
@media screen and (max-width: 660px) {
  .jobs__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 560px) {
  .jobs__title {
    font-size: 23px;
    line-height: 30px;
  }
}

.jobs__text {
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.08px;
  margin-bottom: 44px;
}
@media screen and (max-width: 660px) {
  .jobs__text {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 560px) {
  .jobs__text {
    font-size: 16px;
    line-height: 25px;
  }
}

.jobs__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 66px;
  z-index: 100000000000000000;
}
@media screen and (max-width: 1150px) {
  .jobs__cards {
    gap: 50px;
  }
}

.jobs__card {
  width: 334px;
  z-index: 999;
}
@media screen and (max-width: 350px) {
  .jobs__card {
    width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .jobs__card img {
    width: 300px;
  }
}

.jobs__card__title {
  margin-top: 53px;
  margin-bottom: 17px;
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
@media screen and (max-width: 400px) {
  .jobs__card__title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.jobs__cars__text {
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.88px;
  width: 260px;
  margin: 0 auto;
}

.employee {
  display: flex;
  align-items: center;
  margin-top: 170px;
}
@media screen and (max-width: 1000px) {
  .employee {
    flex-direction: column;
  }
}

.employee__left {
  background-image: url(../img/hero-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 922px;
  width: 50%;
}
@media screen and (max-width: 1000px) {
  .employee__left {
    width: 100%;
    height: 822px;
  }
}
@media screen and (max-width: 500px) {
  .employee__left {
    height: 500px;
  }
}

.employee__right {
  width: 50%;
  height: 922px;
  background: #124E3B;
  padding: 120px;
  position: relative;
  padding-top: 200px;
}
@media screen and (max-width: 1345px) {
  .employee__right {
    padding: 100px 50px 50px;
  }
}
@media screen and (max-width: 1000px) {
  .employee__right {
    width: 100%;
    height: 700px;
  }
}
@media screen and (max-width: 500px) {
  .employee__right {
    height: 550px;
    padding-top: 50px;
  }
}
@media screen and (max-width: 400px) {
  .employee__right {
    padding: 30px;
  }
}

.vector__4 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.employee__text {
  color: #FFF;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin: 38px 0 16px 0;
  width: 550px;
}
@media screen and (max-width: 1210px) {
  .employee__text {
    width: 450px;
  }
}
@media screen and (max-width: 1000px) {
  .employee__text {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .employee__text {
    font-size: 25px;
    line-height: 40px;
  }
}
@media screen and (max-width: 400px) {
  .employee__text {
    font-size: 20px;
    line-height: 30px;
    margin: 15px 0 5px;
  }
}

.employee__name {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 38px;
}
@media screen and (max-width: 500px) {
  .employee__name {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 400px) {
  .employee__name {
    font-size: 14px;
  }
}

.employee__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 170px;
  background: 0;
  border-radius: 4px;
  background: #F2CDCE;
  border: 0;
}

.locations {
  padding-bottom: 160px;
  background: #F8F3F1;
  text-align: center;
  position: relative;
  top: -160px;
  padding-top: 160px;
}
@media screen and (max-width: 510px) {
  .locations {
    padding: 100px 0;
  }
}

.locations__title {
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.88px;
  margin-bottom: 68px;
}
@media screen and (max-width: 510px) {
  .locations__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 39px;
  }
}

.locations__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 432px;
  margin: 0 auto;
  margin-bottom: 80px;
  border-radius: 15984px;
}
@media screen and (max-width: 510px) {
  .locations__btns {
    flex-direction: column;
    width: 216px;
  }
}

.location__btn__1 {
  height: 53px;
  border: 0;
  outline: 0;
  width: 216px;
  border-radius: 15984px;
  background: #124E3B;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.88px;
}

.location__btn__2 {
  height: 50px;
  border: 0;
  outline: 0;
  width: 216px;
  border-radius: 15984px;
  color: #0A0A0A;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.88px;
  background: #fff;
}

.locations__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 104px;
  overflow: auto;
  margin-bottom: 80px;
}

.locations__content::-webkit-scrollbar {
  display: none;
}

.location__card {
  width: 278px;
  background-color: #fff;
}

.location__card__info {
  margin: 29px 0 7px;
  color: #757478;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.location__card__price {
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 34px;
}

.locations__more {
  border: 0;
  padding: 12px 20px;
  border-radius: 4px;
  background: #F2CDCE;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #0A0A0A;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.88px;
}

.employers {
  background: #FBF9F6;
  padding-bottom: 119px;
}

.top__employers {
  background: #fff;
  padding-bottom: 109px;
  text-align: center;
}

.top__employers__title {
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  margin: 0 auto 92px;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  width: 420px;
}
@media screen and (max-width: 450px) {
  .top__employers__title {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
  }
}

.top__employers__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1441px) {
  .top__employers__logo {
    gap: 60px;
  }
}
@media screen and (max-width: 380px) {
  .top__employers__logo img:nth-child(3) {
    width: 270px;
  }
}

.opportunity__title {
  margin: 160px auto 30px;
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.88px;
}
@media screen and (max-width: 450px) {
  .opportunity__title {
    margin: 70px auto 20px;
    font-size: 30px;
    line-height: 38px;
  }
}

.opportunity__text {
  margin: 0 auto 67px;
  width: 400px;
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.08px;
}
@media screen and (max-width: 450px) {
  .opportunity__text {
    width: 100%;
  }
}

.opportunity__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 880px) {
  .opportunity__content {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 390px) {
  .opportunity__left img {
    width: 290px;
  }
}

.opportunity__right {
  width: 430px;
}
@media screen and (max-width: 880px) {
  .opportunity__right {
    width: 100%;
  }
}

.opportunity__right__title {
  margin-bottom: 28px;
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.opportunity__right__text {
  margin-bottom: 81px;
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.08px;
}
@media screen and (max-width: 500px) {
  .opportunity__right__text {
    margin-bottom: 40px;
  }
}

.opportunity__icon {
  font-size: 40px;
}

.opportunity__directions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.opportunity__direction {
  display: flex;
  gap: 14px;
}
.opportunity__direction span:nth-child(1) {
  width: 10px;
  height: 10px;
  background: #D6A834;
}
.opportunity__direction span:nth-child(2) {
  width: 10px;
  height: 10px;
  background: #EDE19B;
}
.opportunity__direction span:nth-child(3) {
  width: 10px;
  height: 10px;
  background: #EDE19B;
}
.opportunity__direction span:nth-child(4) {
  width: 10px;
  height: 10px;
  background: #EDE19B;
}

.download {
  background: #124E3B;
}

.download__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 850px) {
  .download__content {
    flex-direction: column;
  }
}

.download__left {
  padding: 180px 0 184px 100px;
  width: 50%;
  position: relative;
  height: 800px;
}
@media screen and (max-width: 1280px) {
  .download__left {
    height: 600px;
  }
}
@media screen and (max-width: 1120px) {
  .download__left {
    padding: 50px;
  }
}
@media screen and (max-width: 850px) {
  .download__left {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .download__left {
    height: 550px;
  }
}

.download__title {
  margin-bottom: 38px;
  color: #FFF;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
@media screen and (max-width: 425px) {
  .download__title {
    font-size: 25px;
    line-height: 35px;
  }
}

.download__text {
  margin-bottom: 62px;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 470px;
}
@media screen and (max-width: 1020px) {
  .download__text {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .download__text {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 40px;
  }
}

.download__from {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 380px) {
  .download__from {
    flex-direction: column;
    align-items: start;
    z-index: 1000000000000000000;
  }
}

.download__from__box {
  padding: 9px 13px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 380px) {
  .download__from__box {
    width: 140px;
    z-index: 1000000000000000000;
  }
}

.vector__download {
  position: absolute;
  right: 0;
  bottom: 0;
}

.download__right {
  background-image: url(../img/hero-4.png);
  width: 50%;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1280px) {
  .download__right {
    height: 600px;
  }
}
@media screen and (max-width: 850px) {
  .download__right {
    width: 100%;
    height: 800px;
  }
}
@media screen and (max-width: 600px) {
  .download__right {
    height: 500px;
  }
}
@media screen and (max-width: 380px) {
  .download__right {
    height: 400px;
  }
}

.sponsors {
  background: #fff;
  text-align: center;
}

.sponsors__title {
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  padding: 98px 0 48px;
}

.sponsors__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 1280px) {
  .sponsors__logo {
    gap: 50px;
  }
}

.sign__up {
  position: relative;
  text-align: center;
  height: 404px;
}
@media screen and (max-width: 425px) {
  .sign__up {
    height: 300px;
  }
}

.sign__up__title {
  padding-top: 98px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.88px;
}
@media screen and (max-width: 700px) {
  .sign__up__title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 425px) {
  .sign__up__title {
    font-size: 20px;
    line-height: 30px;
    padding-top: 70px;
  }
}

.sign__up__btn {
  margin: 60px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-radius: 4px;
  background: #F2CDCE;
  border: 0;
}

.sign__vector {
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 520px) {
  .sign__vector {
    display: none;
  }
}

.sign__vector__bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 520px) {
  .sign__vector__bottom {
    display: none;
  }
}

.resources {
  padding: 180px 0;
}
@media screen and (max-width: 860px) {
  .resources {
    padding: 100px 0;
  }
}

.resources__title {
  margin-bottom: 98px;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.88px;
}
@media screen and (max-width: 860px) {
  .resources__title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .resources__title {
    font-size: 30px;
    line-height: 35px;
  }
}

.resources__items {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0EDF5;
  width: 750px;
  border-radius: 15984px;
  margin: 0 auto 66px;
}
@media screen and (max-width: 820px) {
  .resources__items {
    width: 185px;
    border-radius: 0;
    flex-direction: column;
    border-radius: 30px;
  }
}

.resources__btn:nth-child(1) {
  border: 0;
  border-radius: 15984px;
  background: #124E3B;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 9px 50px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.88px;
  cursor: pointer;
}

.resources__btn:nth-child(2),
.resources__btn:nth-child(3),
.resources__btn:nth-child(4) {
  border: 0;
  border-radius: 15984px;
  padding: 9px 50px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.88px;
  cursor: pointer;
}

.resources__btn:nth-child(2),
.resources__btn:nth-child(3) {
  border-radius: 0px;
}

.resources__row {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 860px) {
  .resources__row {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.resources__col___title {
  margin: 6px 0;
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.resources__col__job {
  margin-left: 16px;
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  background: #FBF9F6;
  padding: 55px 0 65px;
}

.footer__content {
  display: flex;
  align-items: start;
  gap: 117px;
}
@media screen and (max-width: 1373px) {
  .footer__content {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1000px) {
  .footer__content {
    gap: 50px;
  }
}
@media screen and (max-width: 830px) {
  .footer__content {
    flex-direction: column;
    align-items: start;
  }
}

.footer__left {
  display: flex;
  gap: 26px;
}

.address {
  margin: 85px 0 5px;
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px;
}

.phone__number {
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px;
}

.download__btns {
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.app__store {
  border: 0;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: #3C3B3D;
  color: #FBF9F6;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.16px;
  padding: 3px 10px;
}
.app__store img {
  width: 20px;
  height: 20px;
  position: relative;
  top: -1px;
  margin-left: 5px;
}

.play__market {
  border: 0;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: #3C3B3D;
  color: #FBF9F6;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.16px;
  padding: 3px 10px;
}

.bi-google-play {
  font-size: 20px;
  margin-left: 5px;
}

@media screen and (max-width: 830px) {
  .footer__right {
    width: 100%;
  }
}

.footer__list {
  display: flex;
  justify-content: space-between;
  gap: 240px;
}
@media screen and (max-width: 1373px) {
  .footer__list {
    gap: 150px;
  }
}
@media screen and (max-width: 1193px) {
  .footer__list {
    gap: 80px;
  }
}
@media screen and (max-width: 930px) {
  .footer__list {
    gap: 30px;
  }
}
@media screen and (max-width: 580px) {
  .footer__list {
    flex-direction: column;
  }
}

.footer__list__title {
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.footer__list__text {
  margin-top: 16px;
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.88px;
  width: 156px;
}

.made__by {
  margin-top: 103px;
}

.made__by__text__1 {
  margin-right: 45px;
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px;
}
@media screen and (max-width: 325px) {
  .made__by__text__1 {
    margin-right: 20px;
  }
}

.made__by__text {
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.96px;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */