* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 100%;
  width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.tohome {
  width: 60px;
  height: 60px;
  background-color: #124E3B;
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #124E3B;
}
@media screen and (max-width: 500px) {
  .tohome {
    width: 45px;
    height: 45px;
    bottom: 90px;
    right: 20px;
  }
}

.totop {
  color: #fff;
  font-size: 28px;
}
@media screen and (max-width: 500px) {
  .totop {
    font-size: 19px;
  }
}

.tocall {
  width: 60px;
  height: 60px;
  background-color: #124E3B;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #124E3B;
}
@media screen and (max-width: 500px) {
  .tocall {
    width: 45px;
    height: 45px;
    bottom: 30px;
    right: 20px;
  }
}

.phone__icon {
  color: #fff;
  font-size: 25px;
}
@media screen and (max-width: 500px) {
  .phone__icon {
    font-size: 19px;
  }
}

.navbar {
  height: 72px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000000000000000000000000000000000000000000000000000000;
  }
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .navbar__content {
    gap: 10px;
  }
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 62px;
}
@media screen and (max-width: 908px) {
  .navbar__left {
    gap: 10px;
  }
}
@media screen and (max-width: 750px) {
  .navbar__left {
    width: 75%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 750px) {
  .navbar__left {
    width: 100%;
  }
}

.navbar__left__left {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media screen and (max-width: 908px) {
  .navbar__menu {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    gap: 10px;
  }
}
@media screen and (max-width: 750px) {
  .navbar__menu {
    position: fixed;
    top: 72px;
    background-color: #fff;
    left: -100%;
    width: 40%;
    box-shadow: 0 0 10px #0A6647;
    height: calc(100vh - 472px);
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: 0px 5px 20px 0;
    gap: 30px;
    transition: 0.3s;
    z-index: 999999999999999;
  }
}

#check {
  display: none;
}

.toogle {
  font-size: 30px;
  display: none;
}
@media screen and (max-width: 750px) {
  .toogle {
    display: block;
  }
}
@media screen and (max-width: 338px) {
  .toogle {
    font-size: 24px;
  }
}

#check:checked ~ .navbar__menu {
  left: 0;
}

.navbar__menu li {
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  width: 100px;
}
@media screen and (max-width: 750px) {
  .navbar__menu li {
    border-bottom: 2px solid #0A6647;
  }
}
@media screen and (max-width: 768px) {
  .navbar__menu li {
    width: 96px;
  }
}

.navbar__menu li:hover {
  color: #0A6647;
  font-weight: 600;
}

.navbar__options:hover {
  color: #0A6647;
  font-weight: 600;
}

.navbar__options {
  border: 0;
  outline: 0;
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .navbar__right {
    gap: 10px;
  }
}
@media screen and (max-width: 750px) {
  .navbar__right {
    display: none;
  }
}

.navbar__right__2 {
  align-items: center;
  gap: 24px;
  display: none;
}
@media screen and (max-width: 750px) {
  .navbar__right__2 {
    display: flex;
  }
}
@media screen and (max-width: 338px) {
  .navbar__right__2 {
    gap: 10px;
  }
}

.navbar__btn__login {
  border: 0;
  background: none;
  color: #0A6647;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  cursor: pointer;
}

.navbar__btn__join {
  border-radius: 4px;
  border: 2px solid #0A6647;
  background: #0A6647;
  padding: 10px 17px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (max-width: 480px) {
  .navbar__btn__join {
    padding: 5px 10px;
  }
}

.navbar__btn__join:hover {
  opacity: 0.8;
}

.navbar__btn__join:active {
  transform: scale(0.95);
}

.header {
  background-image: url(../img/hero-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}

.header__content {
  position: relative;
}

.header__box {
  width: 470px;
  height: 406px;
  background: #fff;
  padding: 40px 48px 63px 48px;
}
@media screen and (max-width: 510px) {
  .header__box {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 475px) {
  .header__box {
    padding: 30px;
  }
}

.header__title {
  color: #124E3B;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 22px;
  width: 360px;
}
@media screen and (max-width: 475px) {
  .header__title {
    width: 100%;
    font-size: 30px;
  }
}

.header__text {
  margin-bottom: 70px;
  color: #3C3B3D;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 348px;
}
@media screen and (max-width: 475px) {
  .header__text {
    width: 100%;
    margin-bottom: 30px;
  }
}

.header__btn {
  width: 100%;
  border: 0;
  border-radius: 4px;
  background: #F2CDCE;
  color: #0A0A0A;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon {
  font-size: 18px;
  margin-left: 10px;
  color: #0A0A0A;
  font-weight: 900;
}

.header__names {
  position: absolute;
  bottom: -148px;
  right: 158px;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
@media screen and (max-width: 475px) {
  .header__names {
    right: 100px;
    bottom: -180px;
  }
}

.jobs {
  background: #F8F3F1;
  padding: 160px 0;
  position: relative;
}
@media screen and (max-width: 560px) {
  .jobs {
    padding: 60px 0;
  }
}

.jobs__content {
  position: relative;
}

.vector__1 {
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 660px) {
  .vector__1 {
    left: -150px;
  }
}
@media screen and (max-width: 350px) {
  .vector__1 {
    left: -180px;
  }
}

.vector__2 {
  position: absolute;
  right: 0;
  top: 17px;
}
@media screen and (max-width: 660px) {
  .vector__2 {
    top: 1000px;
  }
}

.jobs__title {
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.88px;
  margin-bottom: 29px;
  z-index: 99999999999999;
}
@media screen and (max-width: 660px) {
  .jobs__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 560px) {
  .jobs__title {
    font-size: 23px;
    line-height: 30px;
  }
}

.jobs__text {
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.08px;
  margin-bottom: 44px;
}
@media screen and (max-width: 660px) {
  .jobs__text {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 560px) {
  .jobs__text {
    font-size: 16px;
    line-height: 25px;
  }
}

.jobs__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 66px;
  z-index: 100000000000000000;
}
@media screen and (max-width: 1150px) {
  .jobs__cards {
    gap: 50px;
  }
}

.jobs__card {
  width: 334px;
  z-index: 999;
}
@media screen and (max-width: 350px) {
  .jobs__card {
    width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .jobs__card img {
    width: 300px;
  }
}

.jobs__card__title {
  margin-top: 53px;
  margin-bottom: 17px;
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
@media screen and (max-width: 400px) {
  .jobs__card__title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.jobs__cars__text {
  color: #3C3B3D;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.88px;
  width: 260px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */